<div class="blog-form">
<%= form_for(@blog) do |f| %>
  <div>
    <div>
      <%= f.label :title %>
    </div>
    <%= f.text_field :title,id: :title%>
  </div>

  <div>
    <div>
      <%= f.label :image %>
    </div>
    <%= f.file_field :image, id: :image %>
  </div>
  <p><%= f.check_box :remove_image %>画像を削除する</p>

<div>
    <div>
      <%= f.label :column %>
    </div>
    <div class = "column-preview">
      <%= f.text_area :column,id: :column,rows: 20,cols: 60, "v-model": "input" ,html: {class: "column-form"} %>
      <div class = "column-preview__is_active" v-html='input | marked'></div>
    </div>
</div>

<div><%= f.submit "投稿" %></div>
<% end %>



<script type="text/javascript">
 window.onload = function() {
 new Vue({
 el: '.column-preview',
 data: {
 input: '<%== j @blog.column %>',
 },
 filters: {
 marked: marked,
 },
 });
 };
</script>
