<%= form_for(current_user) do |f| %>
  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="field">
    <%= f.label :user_image %><br />
    <%= f.file_field :user_image, html: {id: "user_image"}%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
